body,html{
  min-height: 20em;
}
nav{
  position: absolute;
  top: 0;
  left:0;
  height: 47.1em;
  width: 16em;
  background-color: #184731;
  border-radius: 1px;
}
.logo{
  position: absolute;
  top: 2%;

  margin: .5em;
  margin-left: 2em;
  height: 3em;
  width: 3em;
  border: none;

}
.btn-txt{
  margin-left:25%;
  text-align: left;
  margin-top: 1em;
  color: #fff;
  font-size: 12px;
}
.Home{
  height: 4em;
  width: 18.01em;
  margin: 0em;
  margin-top: 12em;
  border: none;
  background-color: #184731;
}
.Home:hover{
 background-color:#1f5c3f;
}
.Stats{
  height: 4em;
  width: 18em;
  margin: .0em;
  border: none;
  background-color: #184731;
}
.Stats:hover{
  background-color:#1f5c3f;
}
.Business{
  height: 4em;
  width: 18em;
  margin: .0em;
  border: none;
  background-color: #184731;
}
.Business:hover{
  background-color:#1f5c3f;
}
.Logistics{
  height: 4em;
  width: 18em;
  margin: .0em;
  border: none;
  background-color: #184731;
}
.Logistics:hover{
  background-color:#1f5c3f;
}
.Farm{
  height: 4em;
  width: 18em;
  margin: .0em;
  border: none;
  background-color: #184731;
}
.Farm:hover{
  background-color:#1f5c3f;
}
.Acc-card{
  position: absolute;
  left:10%;
  top:90%;
  background-color: #B5FBDD;
  height: 3em;
  width:13.5em;
  border-radius: 5px;
}
.Acc-name{
  position: absolute;
  color: #fff;
  height: 1.5em;
  width: 8em;
  top: 0em;
  left: 4.5em;
}
.name{
  position: absolute;
  color: #184731;
  font-size: 16px;
  top: 0;
  height: 100%;
  text-align: center;
  font-style: bold;
}
.Accounts{
  position: absolute;
  height: 2em;
  width: 2em;
  margin-left: 1em;
  margin-top: 0.3em;
  border-radius: 50%;
  border: none;
}
.switch{
  background-color: #76FEC5;
  position: absolute;
  height: 3em;
  width:1.5em;
  left:88.5%;
  border-radius: 2.5px;
}
.signin-card{
height: 40%;
width: 25%;
position: absolute;
left: 60%;
}
.login-card{
  position: absolute;
  top: 15%;
  left: 60%;
  width:25%;
  background-color: #fff;
}
.form{

}
input{

}
input[type=text]{
  margin: .5em;
  height: 3em;
  width:30em;
  border-radius: 2.5px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bolder;
  font-size: 1em;
}
input[type=password]{
  margin: 1em;
  height: 3em;
  width:30em;
  border-radius: 2.5px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bolder;
  font-size: 1em;
}
input[type=email]{
  margin: 1em;
  height:3em;
  width:30em;
  border-radius: 2.5px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bolder;
  font-size: 1em;
}
input[type=submit]{
  margin: 1em;
  height:3em;
  width:20em;
  border-radius: 2.5px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bolder;
  font-size: 1em;
  background-color: #00CF91;
}
input[type=email]:focus{
  border: 1px solid;
  outline-color: #00CF91;
}
input[type=password]:focus{
  border: 1px solid;
  outline-color: #00CF91;
}
input[type=submit]:hover{
  transition: .3s ease-in;
  background-color:#76FEC5 ;
}
